* {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
}

:root {
  --dark: rgb(33, 37, 41);
  --clrear: #ffffff;
  --yellow: #ffb703;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

.titles {
  font-weight: bold;
  color: var(--dark);
  text-align: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.listActivites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.popup-Form {
  visibility: hidden;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 2hv;
}

.show {
  opacity: 1;
  visibility: visible;
}

.activities-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-table-results {
  width: 100%;
  padding: 5px 5px;
  box-shadow: 0 0 1rem 0 var(--dark);
  border-radius: 0.5rem;
}

.main-table-results td {
  font-size: 12px;
  color: var(--dark);
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px;
  width: 200px;
  word-wrap: break-word;
}	
th{
  font-size: 12px;
  color: var(--dark);
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px;
  width: 200px;
  word-wrap: break-word;
}

.tooltip1 {
  display: none;
}

/* Estilos del footer 33,37,41 */
footer {
  background-color: rgb(33, 37, 41);
  color: #fff;
  padding: 20px 0;

}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.copyright {
  text-align: center;
}

@media (max-width: 768px) {
  /* Estilos para el texto flotante */
  .tooltip1 {
    position: absolute;
    display: inline;
    background-color: #2323236e;
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    font-size: 14px;
  }
  .main-table-results {
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    height: 310px;
    overflow: auto;
    align-items: center;
  }

  .table-header {
    visibility: hidden;
    position: absolute;
    padding: 8px;
  }

  th {
    display: flex;
    width: 100%;
  }
  tr {
    display: block;
    align-items: center;
    border: 3px solid #ccc;
  }

  td {
    display: block;
    border: 1px solid #ccc;
    padding: 5px;
    /* height: 50px; */
    /* word-wrap: break-word; */
  }
}
